.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background-color: white;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  position: relative;
  z-index: 2;
  overflow: hidden;
  background-color: #f2f2f2;
}

.logo_place_header {
  position: absolute;
  z-index: 2;
  height: 31px;
  width: 154px;
  top: 30px;
  left: 64px;
}

.header__title {
  align-self: center;
  margin: 0 0 0 64px;
  padding: 0;
  max-width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  z-index: 2;
}

.header__subtitle {
  position: absolute;
  z-index: 2;
  max-width: 388px;
  bottom: 30px;
  left: 64px;
  margin: 0;
  padding: 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__link {
  line-height: 25px;
  bottom: 30px;
  left: 64px;
  color: #2f80ed;
  text-decoration: none;
  opacity: 1;
  transition: opacity 1s linear 0s;
}

.header__link:hover {
  opacity: 0.5;
}

.header__main-illustration {
  position: absolute;
  object-fit: contain;
  width: 765px;
  height: 608px;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  transform: rotate(-15deg);
  position: absolute;
  top: 64px;
  right: 0;
  z-index: 0;
  background-color: #2f80ed;
  animation: rotate 20s linear 0s infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.description {
  display: flex;
  margin: 100px auto;
}

.two-columns {
  display: flex;
  margin: 0 auto;
  width: 80%;
  justify-content: space-between;
}

.two-columns__brief {
  margin: 0;
  padding: 0;
  line-height: 1.2;
  width: 175px;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 0 0 30px 0;
  padding: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph:last-child {
  margin: 0;
}

.two-columns__span-accent {
  font-weight: bold;
}

.cards {
  width: 920px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
}

.cards__item {
  width: 240px;
  margin-top: 60px;
  margin-right: 100px;
}

.cards__item:nth-of-type(3n) {
  margin-right: 0;
}

.cards__image {
  width: 160px;
  height: 160px;
  margin: 0 40px;
  border-radius: 100%;
}

.cards__title {
  margin-top: 43px;
  line-height: 1.15;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

.cards__description {
  margin-top: 16px;
  line-height: 23px;
  font-weight: normal;
  font-size: 18px;
  text-align: center;
}

.video {
  margin-top: 100px;
  overflow: visible;
}

.video__iframe {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: -30px;
}

.video__iframe:first-child {
  margin-right: 20px;
}

.oakley {
  background-color: #f2f2f2;
  padding-top: 160px;
}

.digits {
  margin: 100px 0;
}

.section-title {
  margin: 0 auto;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
}

.section-subtitle {
  margin: 20px auto 0 auto;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}

.table {
  width: 1100px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  flex-wrap: wrap;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  margin: 0;
  padding: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  margin: 20px 0 0 0;
  padding: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.feynman {
  min-height: 790px;
  padding-top: 80px;
  position: relative;
  z-index: 1;
  background-color: #f2f2f2;
}

.feynman__title {
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  max-width: 775px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin: 70px auto 0 auto;
  text-align: center;
  position: relative;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: black;
  text-decoration: none;
  top: 50%;
  right: 48px;
  position: absolute;
  opacity: 1;
  transition: opacity 1s linear 0s;
}

.feynman__link:hover {
  opacity: 0.25;
}

.feynman__image {
  width: 867px;
  height: 637px;
  position: absolute;
  z-index: -1;
  left: 0;
  bottom: 0;
}

.khan {
  background-color: #f2f2f2;
  padding-top: 105px;
  position: relative;

}

.khan__container {
  width: 80%;
  margin: 0 auto;
}

.khan__author {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.khan__title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.khan__quote {
  width: 790px;
  margin: 50px auto 36px 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.khan__quote-author {
  margin-bottom: 10px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.khan__quote-author-subline {
  margin: 0 0 68px 0;
  padding: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
}

.khan__book-container {
  overflow: hidden;
  margin-bottom: -220px;
  display: flex;
}

.khan__book-pic {
  width: 620px;
  height: 608px;
  margin-right: 48px;
}

.khan__buy-link {
  text-decoration: none;
  color: #2f80ed;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  opacity: 1;
  transition: opacity 1s linear 0s;
}

.khan__buy-link:hover {
  opacity: 0.5;
}

.kaufman {
  background-color: #1f1f1f;
  overflow: hidden;
  position: relative;
  padding-top: 90px;
  padding-bottom: 90px;
}

.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  height: 877px;
  width: 877px;
  position: absolute;
  z-index: 0;
  top: 0;
  right: -210px;
  background-size: cover;
  animation: rotate 20s linear 0s infinite;
}

.section-title_theme_dark {
  color: white;
  display: flex;
  position: relative;
  z-index: 2;
}

.section-subtitle_theme_dark {
  color: white;
  justify-content: center;
  display: flex;
  position: relative;
  z-index: 2;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  z-index: 2;
}

.table__heading_theme_dark {
  color: white;
  margin-bottom: 20px;
  z-index: 2;
}

.table__text_theme_dark {
  color: white;
  z-index: 2;
}

.resources {
  margin-top: 100px;
}

.resources__logo-zone {
  width: 1100px;
  margin: 80px auto 217px auto;
}

.resources__logo {
  width: 270px;
  height: 38px;
}

.footer {
  background-color: #1f1f1f;
  color: white;
  min-height: 350px;
  box-sizing: border-box;
  display: flex;
  position: relative;
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer__columns {
  width: 90%;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__column {
  flex-direction: column;
  justify-content: space-between;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
}

.logo_place_footer {
  width: 183px;
  height: 35px;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin-left: 0;
  margin-bottom: 18px;
}

.footer__column-heading {
  line-height: 45px;
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 20px 0;
}

.footer__column-links {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer__links {
  color: white;
  text-decoration: none;
  opacity 1;
  transition: opacity 1s linear 0s;
}

.footer__links:hover {
  opacity: 0.25;
}

.footer__social-icon {
  height: 16px;
  width: 16px;
  margin: 0 10px 0 0;
}
