section {
  border: 1px solid red;
}

.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background-color: #f2f2f2;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* parameters for the header section */
  position: relative;
  z-index: 1;
}

.header__logo_place_header {
  position: absolute;
  z-index: 2;
  height: 31px;
  width: 154px;
  margin-top: 30px;
  margin-left: 64px;
}

.header__title {
  display: flex;
  align-items: center;
  margin-left: 64px;
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  z-index: 2;
}

.header__subtitle {
  position: absolute;
  z-index: 2;
  width: 388px;
  bottom: 30px;
  margin-left: 64px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__link {
  position: absolute;
  line-height: 25px;
  bottom: 30px;
  margin-left: 64px;
  color: #2f80ed;
  text-decoration: none;
}
.header__main-illustration {
  position: absolute;
  width: 765px;
  height: 608px;
  bottom: 0;
  right: 0;
  z-index: 1;
}

/* here we have two examples of selectors in order to remind you how to set styles for elements */
.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  top: 64px;
  right: 0;
  background-color: #2f80ed;
}

.description {
  background-color: white;
  display: flex;
}

.two-columns {
  display: flex;
  margin: 100px auto 0px auto;
  width: 80%;
  min-width: 784px;
  justify-content: space-between;
}

.two-columns__brief {
  line-height: 1.2;
  width: 175px;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph + .two-columns__paragraph {
  margin-top: 30px;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.digits {
  background-color: white;
  padding-bottom: 100px;
}

.digits-title {
  margin: 100px auto 0 auto;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.digits-subtitle {
  margin: 20px auto 0 auto;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  display: flex;
  justify-content: center;
}

.table {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
  flex-wrap: wrap;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  line-height: 1.2;
  margin-top: 20px;
  font-size: 18px;
  font-weight: normal;
}

.feynman {
  height: 790px;
  display: flex;
  z-index: 0;
  position: relative;
  border: 1px solid red;
}

.feynman__title {
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  width: 775px;
  margin-top: 100px;
  margin-left: 50%;
  border: 1px solid red;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin-top: 70px;
  z-index: 2;
  border: 1px solid red;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: black;
  text-decoration: none;
  top: 50%;
  right: 48px;
  position: absolute;
  border: 1px solid red;
}

.feynman__image {
  width: 867px;
  height: 637px;
  z-index: 1;
  position: absolute;
  left: 0;
  bottom: 0;
  border: 1px solid red;
}

/* including elements with key-value modifiers */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.footer {
  background-color: black;
  min-height: 350px;
  border: 1px solid red;
}

.footer__columns {
  width: 90%;
  margin: 60px auto 40px auto;
  display: flex;
  justify-content: space-between;
  border: 1px solid red;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  border: 1px solid red;

}

.logo__place_footer {
  width: 183px;
  height: 35px;
  border: 1px solid red;

}

.footer__author {
  color: white;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 18px;
  border: 1px solid red;
}

.footer__column_content_info {
  border: 1px solid red;

}

.footer__column-heading {
  color: white;
  line-height: 45px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  border: 1px solid red;
}

.footer__column-links {
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 16px;
  border: 1px solid red;

}

.footer__column_content_social {
  border: 1px solid red;
}

.footer__social-icon {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  border: 1px solid red;

}
